$primary-color: #c3829e;
$secondary-color: #562135;
$third-color: #e9b1cd;
$fourth-color: #fcd1d7;
$accent-color: #ffe7de;

$dark-font-color: #562135;
$light-font-color: #ffe7de;
$accent-font-color: #9ec382;
$active-color: #9ec382;

$max-width: 100vw;
$max-height: 100vh;
